*{
  margin: 0;
  padding: 0;
}

body{
background-color: pink ;
text-align: center;
}
.container{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-self: center;
}
.game{
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  gap:1.5vmin;
}
.box{
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  font-size: 8vmin;
  color:rgb(57, 57, 176) ;
  background-color: rgb(239, 223, 191);
}
#reset-btn{
  height: 8vmin;
  width: 20vmin;
  border-radius: 1rem;
  border: none;
  background-color:rgb(57, 57, 176) ;
  color: white;
  font-size:2.5vmin;
}
#new-btn{
  height: 8vmin;
  width: 20vmin;
  border-radius: 1rem;
  border: none;
  background-color:rgb(57, 57, 176) ;
  color: white;
  font-size:2.5vmin;
}
#msg{
  color: black;
  font-size: 6vmin;
}
.msg-container{
 height: 100vmin;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 2rem;
}
.hide{
  display: none;
}
#draw-msg{
  color: black;
  font-size: 4vmin;
}